<ion-app class="flex flex-col min-h-screen">

  <!-- NAVIGATION -->
  <app-navigation></app-navigation>

  <!-- CONTENU PRINCIPAL -->
  <ion-content class="flex-1 ion-padding pt-0 min-h-0 flex flex-col items-center">

    <div class="mx-auto w-[98%] mt-4 mb-4 flex flex-col md:flex-row gap-4 bg-white/10 rounded-lg p-4">

      <!-- SIDEBAR -->
      <div class="w-full md:w-[18%] bg-primary/15 backdrop-blur-md
            rounded-lg border border-primary/30 shadow-xl p-4 transition-all 
            dark:bg-primary-900/40 dark:border-primary-600 flex flex-col gap-6">

        <div class="flex flex-col gap-1">
          <span class="font-bold font-monda text-[18px] md:text-[24px]">Ecole</span>
          <span class="font-monda text-[14px] md:text-[18px]">Ecole d'ingénieurs</span>
        </div>

        <div class="flex flex-col gap-1">
          <span class="font-bold font-monda text-[18px] md:text-[24px]">Cours</span>
          <span class="font-monda text-[14px] md:text-[18px]">
            <p>Nombre du jour : 54</p>
            <p>En cours : 12</p>
            <p>Annulés : 3</p>
          </span>
        </div>

        <div class="flex flex-col gap-1">
          <span class="font-bold font-monda text-[18px] md:text-[24px]">Assiduité</span>
          <span class="font-monda text-[14px] md:text-[18px]">
            <p>Taux d'absences : 15%</p>
            <p>Taux de présence : 85%</p>
          </span>
        </div>

      </div>

      <!-- CONTENU ABSENCES -->
      <app-absences class="w-full md:w-[82%]"></app-absences>

    </div>

  </ion-content>

  <!-- FOOTER -->
  <app-footer
    class="w-full mt-auto bg-glace-gradient backdrop-blur-md rounded-lg border border-primary/30 shadow-xl p-4 h-[50px] md:h-[80px] lg:h-[100px] dark:bg-primary-900/40 dark:border-primary-600">
    <!-- Contenu du footer ici -->
  </app-footer>

</ion-app>
